GOOGLE_API_KEY=
GEMINI_MODEL=models/gemini-1.5-flash-latest
EMAIL_ADDRESS=
EMAIL_PASSWORD=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SECRET_KEY=change-this-secret
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe
FLASK_DEBUG=1
